*.la
*.lo
*.o
*.stamp
.deps
.libs
Makefile
Makefile.in
aclocal.m4
configure
config.log
config.status
libg3d.pc
libtool
autom4te.cache/
config/
doc/api/html/
doc/api/tmpl/
doc/api/xml/
include/g3d/config.h*
tests/test_buf
tests/test_cxx
tests/test_imgdump
tests/test_lib
stamp*
