# 
filetypes: supported file types (extensions)
description: description
stable: built without EXPERIMENTAL
dependencies: depends on libraries except glib
depdata: depends on external data files at runtime
--
magic: libmagic detector
stream: G3DStream support
seekfree: Works without seeking
progress: Progress bar updates
container: Container format
grouping: Object grouping
transformation: Object transformation
--
vertex: Vertex data
normal: Normal data
face: Face data
color: Face colors
alpha: Face transparency
--
teximage: Texture images
texuv: Texture coordinates (UV)
texmap: Texture mapping parameters
