# 
filetypes: supported file types (extensions)
magic: libmagic detector
stream: G3DStream support
seekfree: Works without seeking
container: Container format
grouping: Object grouping
transformation: Object transformation
--
vertex: Vertex data
normal: Normal data
face: Face data
color: Face colors
alpha: Face transparency
--
teximage: Texture images
texuv: Texture coordinates (UV)
texmap: Texture mapping parameters
