#!/usr/bin/make -f

#export DH_VERBOSE=1

export DH_COMPAT=4
export DH_ALWAYS_EXCLUDE=CVS:.svn

build: configure-stamp build-stamp
build-stamp:
	dh_testdir
	$(MAKE)

configure: configure-stamp
configure-stamp:
	dh_testdir
	./configure --prefix=/usr --enable-gtk-doc
	touch configure-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	
	-$(MAKE) clean

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(MAKE) install DESTDIR=$(CURDIR)/debian/root

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_install --autodest --sourcedir=debian/root
	dh_installdocs
	dh_makeshlibs
	#dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb --destdir=../upload-libg3d/debian

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install
